# Copyright (c) 2024 Pete Johanson
# SPDX-License-Identifier: MIT

# Enable GPIO
CONFIG_GPIO=y

# Clock configuration
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

# ZMK Settings
CONFIG_ZMK_USB=y

# ADC Usage for EC
CONFIG_ADC=y

# Settings subsystem
CONFIG_SETTINGS=y
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y

CONFIG_SHELL_MINIMAL=y
CONFIG_HWINFO_SHELL=n
CONFIG_FLASH_SHELL=n
CONFIG_ADC_SHELL=n
CONFIG_ZMK_EXT_POWER=n

CONFIG_USB_SELF_POWERED=n

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE_TINYUF2=y
